* {
	box-sizing: border-box;
}

body {
	background: url('/images/px_by_Gre3g.png') repeat black;
	font-family: 'Bitter Regular', serif;
}

.site-container {
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}

img.avatar {
	float: left;
	width: 90px;
	border-radius: 50%;
	border: solid 1px #f5f5f5;
	margin: 10px;
}

header.page, nav, footer {
	margin: 0 auto;
}

header.page {
	background-image: -webkit-linear-gradient(#5e2242, #47092E);
	background-image: -moz-linear-gradient(#5e2242, #47092E);
	background-image: linear-gradient(#5e2242, #47092E);
	border-bottom: 3px solid #222;
	border-right: 3px solid #222;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #c1c1c1;
	font-family: 'Sansumi Bold', sans-serif;
	font-size: 120%;
	padding: 1em 1em;
	margin-bottom: 1em;
}

header h1 {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header h2 {
	color: #6e6e6e;
	font-size: 110%;
	text-shadow: 0 1px 1px rgba(255, 255, 239, 0.1);
}

a {
	color: #2e2e2e;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #6a6a6a;
}

nav {
	text-align: center;
	margin: 0 auto;
	height: 2em;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav a {
	color: black;
	text-decoration: none;
	display: block;
	width: 6em;
	line-height: 1.5em;
}

nav ul li {
	background-color: #f5f5f5;
	border-bottom: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	display: inline-block;
	margin: 0 10px;
}


div.content {
	margin: auto;
	background-color: #dedede;
	border-bottom: 3px solid #222;
	border-right: 3px solid #222;
	border-radius: 10px;
	color: #2e2e2e;
	padding: 4em 12em;
}

p.copyright {
	color: #c1c1c1;
}

p.copyright a {
	color: #c1c1c1;
}


pre {
	background-color: #181818;
	padding: 30px;
	border: 3px #6a6a6a solid;
	border-radius: 30px;
	font-family: 'Anonymous Regular', monospace;
	font-size: 90%;
}

div.article-link h1 {
	font-size: 120%;
}

div.article-link h2 {
	font-size: 100%;
}

div.article-link {
	margin-top: 30px;
	border-bottom: solid 2px #c1c1c1;
	border-right: solid 2px #c1c1c1;
